<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>

<div class="container" th:fragment="menu">
    <a href="/index.html" th:href="@{/}">
        <i class="material-icons">school</i>
    </a>
</div>

<div th:fragment="select_student" th:unless="${#lists.isEmpty(students)}">
    <div class="row">
        <div class="input-field col s12">
            <select id="select_student">
                <option value="">Selecione o estudante</option>
                <option th:each="s : ${students}" th:value="${s.id}" th:text="${s.name}">Wireframe</option>
            </select>
            <label>estudante</label>
        </div>
    </div>
</div>

<div th:fragment="input_notes" th:unless="${#lists.isEmpty(notes)}">
    <tr th:each="note : ${notes}">
        <td class="subject_name" th:text="*{note.subjectName}">
        <td th:each="value : *{note.notes}"><input class="note_value" type="text" style="text-align: center;"
                                                   th:value="*{value}"/></td>
    </tr>
</div>

</body>
</html>