<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>Escola</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/inicializar.js"></script>

    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>

<div class="container">
    <a href="/index.html" th:href="@{/}">
        <i class="material-icons">school</i>
    </a>
</div>

<div class="container">
    <h3 class="main-title center">Cadastrar Curso</h3>

    <div class="row">
        <form class="col s12" action="#" th:action="@{/course/save}" th:object="${course}" method="post">
            <div class="section">
                <h5>Dados Básicos</h5>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="nome" type="text" th:field="*{name}"/>
                        <label for="nome">Nome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="description" type="text" th:field="*{description}"/>
                        <label for="nome">Descrição</label>
                    </div>
                </div>

            </div>

            <div class="row">

                <h5>Grade do Curso</h5>

                <div class="row">
                    <div class="input-field col s12 center">
                        <button data-target="modal1" class="btn modal-trigger light-blue">Cadastrar materias</button>
                    </div>
                </div>

                <table id="view-table" class="responsive-table centered">
                    <thead>
                    <th th:each="sb : ${course.subject}" th:text="${sb.day}" scope="col"></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="sb : ${course.subject}" th:text="${sb.subjectName}"></td>
                    </tr>
                    <tr>
                        <td th:each="sb : ${course.subject}" th:text="${sb.subjectName}"></td>
                    </tr>
                    <tr>
                        <td th:each="sb : ${course.subject}" th:text="${sb.subjectName}"></td>
                    </tr>
                    <tr>
                        <td th:each="sb : ${course.subject}" th:text="${sb.subjectName}"></td>
                    </tr>
                    <tr>
                        <td th:each="sb : ${course.subject}" th:text="${sb.subjectName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="modal1" class="modal">
                <div class="modal-content">

                    <table class="responsive-table centered">
                        <thead>
                        <th scope="col">Dia da semana</th>
                        <th scope="col">Matéria</th>
                        </thead>
                        <tbody id="modal-table">
                        <tr th:each="subject, itemStat : ${course.subject}">
                            <td th:text="${course.subject[__${itemStat.index}__].day}"></td>
                            <td><input type="text" class="inputFields"
                                       th:field="*{subject[__${itemStat.index}__].subjectName}"/></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salvar</a>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn" type="submit" name="action">Salvar Curso</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

        var data = [];

        setTimeout(function(){
            $('#modal1').modal({
                onCloseEnd: function() {
                    $('.inputFields').each(function(){
                        data.push($(this).val());
                    });

                    $('#view-table > tbody').empty();
                    for (var i = 0; i < 5; i++) {
                        var temp = 0;
                        $('#view-table > tbody').append('<tr><td>' + data[temp++] + '</td>' + '<td>' + data[temp++] + '</td>' +
                        '<td>' + data[temp++] + '</td>' + '<td>' + data[temp++] + '</td>' + '<td>' + data[temp++] + '</td></tr>');
                    }

                    data = [];
                }
            });
        }, 500);

    /*]]>*/

</script>

</body>

</html>