<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>

	<title>Escola</title>

	<link type="text/css" rel="stylesheet" href="../../materialize/css/materialize.min.css" th:href="@{/materialize/css/materialize.min.css}"
				media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link rel="stylesheet" href="../css/main.css"/>
</head>

<body class="teal lighten-5">

<div th:replace="layout/fragments :: menu"></div>

<div class="container">
    <h3 class="main-title center">Lançar Notas</h3>
    <div class="row">
        <form class="col s12" action="/note/save" method="post" id="myForm">

            <div class="row">
                <div class="input-field col s12">
                    <select id="select_course">
                        <option value="">Selecione o curso</option>
                        <option th:each="c : ${courses}" th:value="${c.id}" th:text="${c.name}">Wireframe</option>
                    </select>
                    <label>curso</label>
				</div>
			</div>

			<div id="resultsBlock">
				<!-- dynamic content -->
			</div>

			<div class="row">
				<table id="notes_table" class="responsive-table centered">
					<thead>
					<th scope="col">Matéria</th>
					<th scope="col">Semestre 1</th>
					<th scope="col">Semestre 2</th>
					<th scope="col">Exame (opcional)</th>
					</thead>
					<tbody id="table_content">
					<tr>
						<!-- dynamic content -->
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="input-field col s12 center">
					<button class="btn waves-effect waves-light" type="submit" name="action">Salvar Notas
					</button>
				</div>
			</div>

		</form>
	</div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"
				th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" src="../../materialize/js/materialize.min.js" th:src="@{/materialize/js/materialize.min.js}"></script>
<script type="text/javascript" src="../js/inicializar.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

		$('#select_course').change(function() {
			var course_id = $('#select_course').val();
			if (course_id) {
				var url = '/course/' + course_id + '/students';
				$("#resultsBlock").load(url, function() {
					$('select').formSelect();
					$('#select_student').change(function() {
						var student = $('#select_student').val();
						if (student) {
							var url_notes = '/student/' + student + '/subjects';
							$('#table_content').load(url_notes);
						}
					})
				});
			}
		})

		$("#myForm").submit(function(event) {
			event.preventDefault();
			var subjects = [];
			var notes = [];
			$(".subject_name").each(function( index ) {
			  subjects.push($( this ).text());
			});

			$(".note_value").each(function( index ) {
			  notes.push($( this ).val());
			});

			$.ajax({
			  url: $("#myForm").attr( 'action' ),
			  type:"POST",
			  data: JSON.stringify({
					course: $('#select_course').val(),
					student: $('#select_student').val(),
					subjects: subjects,
					notes: notes
				}),
			  contentType:"application/json; charset=utf-8",
			  dataType:"json",
			  success: function() {
				console.log("post realizado");
			  },
			  complete: function () {
				document.location.href="/";
			  },
			});

		});

    /*]]>*/


</script>

</body>

</html>