<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>

    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.css" media="screen,projection"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Escola</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/inicializar.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/main.css"/>
</head>

<body class="teal lighten-5">

<div th:replace="layout/fragments :: menu"></div>

<div class="container">
    <h3 class="main-title center">Fechamento</h3>

    <div th:each="c : ${closure}">
        <h4 th:text=*{c.course}></h4>

        <br>
        <p>Média final dos alunos</p>

        <table class="responsive-table centered">
            <thead>
            <th scope="col">Aluno/Materias</th>
            <th th:each="sb : *{c.subjects}" th:text="*{sb}" scope="col"></th>
            </thead>
            <tbody>
            <tr th:each="sd : *{c.studentData}">
                <td th:text="*{sd.studentName}"></td>

                <td th:each="n : *{sd.notes}" th:text="${#numbers.formatDecimal(n,1,1)}"
                    th:style="${n == 'NaN'} or ${n &gt; 60} ? 'background-color:#8dff80' : 'background-color:#ff8787'"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

</div>

<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>

</html>