<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Sistema escolar</title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"/>
</head>

<body>

<h1 class="main-title center">Bem-vindo ao Sistema de Escola</h1>

<div class="row center">
    <a href="course/register" th:href="@{course/register}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons">library_books</i>
                <div class="truncate">Cadastrar Curso</div>
            </div>
        </div>
    </a>
    <a href="aluno/cadastrar" th:href="@{aluno/cadastrar}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons">person_add</i>
                <div class="truncate">Cadastrar Aluno</div>
            </div>
        </div>
    </a>
    <a href="aluno/gerenciar" th:href="@{aluno/gerenciar}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons ">perm_identity</i>
                <div class="truncate">Gerenciar alunos</div>
            </div>
        </div>
    </a>
    <a href="teacher/register" th:href="@{teacher/register}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons">person_add</i>
                <div class="truncate">Cadastrar Professor</div>
            </div>
        </div>
    </a>
    <a href="nota/cadastrar" th:href="@{nota/cadastrar}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons">input</i>
                <div class="truncate">Lançar notas</div>
            </div>
        </div>
    </a>
    <a href="/closure" th:href="@{/closure}">
        <div class="col s12 m4 l4  waves-effect waves-light ">
            <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                <i class="large material-icons">data_usage</i>
                <div class="truncate">Fechamento</div>
            </div>
        </div>
    </a>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>